<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="index.html">WEBAPPLAYERS</a>-->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#page-top">Inicio</a></li>
          <li><a class="page-scroll" href="#features">Servicios</a></li>
          <li><a class="page-scroll" href="#team">Equipo</a></li>
          <li><a class="page-scroll" href="#contact">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Nosotros creamos<br/>
            motivación, inspiración, <br />
            y bienestar para tu vida<br />
            Somos el equipo Kiinitro</h1>
          <p>Lleva tu vida un paso más allá.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Conocenos</a>
          </p>
        </div>
        <!--<div class="carousel-image wow zoomIn">
            <img src="/assets/img/landing/laptop.png" alt="laptop"/>
        </div>-->
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h1>Nosotros creamos sesiones <br/>personalizadas para tí.</h1>
          <p>Déjate inspirar, descarga la app y comienza una nueva etapa.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Descargar</a></p>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>El dato</h2>
      <p>85% de los usuarios que van al gimnasio, sienten que pierden su tiempo y dinero al entrenar. Entre el 30% y el 40% abandonan su entrenamiento dejando atrás objetivos, sueños y beneficios para su vida.</p>
      <p><a class="navy-link" href="#" role="button">Detalles &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Nosotros</h2>
      <p>Kiinitro es un servicio multiplataforma para asistir a personas que realizan actividad física dentro y fuera de los gimnasios. Nuestro objetivo brindar explicaciones detalladas de ejercicios y uso de equipos disponibles en el lugar donde te encuentres.</p>
      <p><a class="navy-link" href="#" role="button">Detalles &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Motivación</h2>
      <p>Bienestar, inspiración y motivación son palabras que vienen a la mente cuando hablamos de actividad física o hacer ejercicio. Es común fallar y desistir por falta de motivación para continuar hacia nuestros objetivos.</p>
      <p><a class="navy-link" href="#" role="button">Detalles &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Queremos</h2>
      <p>Queremos ser parte de tu vida, alcanzar junto a tí tus objetivos y ser tu compañero ideal de entrenamiento. Recuerda, Kiinitro es bienestar, inspiración y motivación para tu vida.</p>
      <p><a class="navy-link" href="#" role="button">Detalles &raquo;</a></p>
    </div>
  </div>
</section>

<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Conoce más<br/> <span class="navy">Y que nada te detenga</span> </h1>
      <p>Descarga la app, define tus objetivos de entrenamiento y comienza...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-mobile features-icon"></i>
        <h2>App</h2>
        <p>Descarga nuestra App en inicio, disponible Android y iOS</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-flash features-icon"></i>
        <h2>Entrenamiento</h2>
        <p>Generamos sesiones de entrenamiento personalizadas de acuerdo a tus preferencias, te acompañamos en el aprendizaje y mejoramos tu experiencia de entrenamiento.</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <img src="/assets/img/landing/perspective.png" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-envelope features-icon"></i>
        <h2>Acompañamiento</h2>
        <p>Recibe nuestra asesoria personalizada por nuestras redes o por correo.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bar-chart features-icon"></i>

        <h2>Estadisticas</h2>
        <p>Te acompañaremos en tu progreso.</p>
      </div>
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Nuestro equipo</h1>
        <p>Somos un gran equipo de profesionales, listos y dispuestos para apoyarte.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 wow fadeInLeft">
        <div class="team-member">
          <img src="/assets/img/landing/MoniKa.jpg" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">M&oacute;nica</span> Baron</h4>
          <p>CRO de Kiinitro, encargada de Ventas, Marketing, Compras y alinear las decisiones con la estrategia de la empresa.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member wow zoomIn">
          <img src="/assets/img/landing/avatar4.jpg" class="img-responsive img-circle" alt="">
          <h4><span class="navy">Victor</span> Vela</h4>
          <p>CEO de Kiinitro, gran motivador y quién marca las pautas y objetivos a alcanzar.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 wow fadeInRight">
        <div class="team-member">
          <img src="/assets/img/landing/Nestor1.jpg" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">Nestor</span> Cepeda</h4>
          <p>CFO de Kiinitro, gran planificador, administración y los asuntos de contabilidad de la empresa.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 wow fadeInRight">
        <div class="team-member">
          <img src="/assets/img/landing/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">Cristian</span> Olaya</h4>
          <p>CIO, coordina las tareas de los analistas, diseñadores y programadores y de la Distribución de los equipos.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>Somos profesionales emprendedores, Creativos e innovación que queremos ser parte de tu vida.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Cont&aacute;ctanos</h1>
        <p>No lo olvides, con Kiinitro tienes bienestar, inspiración y motivación para tu cuerpo y tu vida.</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Kiinitro fitness</span></strong><br/>
          www.kiinitro.com<br/>
          Colombia, Bogotá<br/>
          <abbr title="Phone">Cel:</abbr> (300) 123-3212
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Queremos ser parte de tu vida, llevarte a lograr tus objetivos y ser tu compañero ideal de entrenamiento.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:test@email.com" class="btn btn-primary">Ev&iacute;anos un correo</a>
        <p class="m-t-sm">
          O s&iacute;guenos en nuestras redes
        </p>
        <ul class="list-inline social-icon">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2017 Kiinitro fitness</strong><br/> Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</section>
